<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin-top: 20px;
            margin-left: 25%;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
        .container {
            width: 50%;
            margin-left: 25%;
        }

        h1, form {
            margin-left: 25%;
        }

        form {
            background-color: #f4f4f4;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin: 10px 0;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <table>
        <tr>
            <th>First Name</th>
            <td>{{ first_name }}</td>

        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ last_name }}</td>

        </tr>
        <tr>
            <th>Email</th>
            <td>{{ email }}</td>

        </tr>
        <tr>
            <th>Year</th>
            <td>{{ year }}</td>

        </tr>
        <tr>
            <th>Major</th>
            <td>{{ major }}</td>

        </tr>
        <tr>
            <th>Degree</th>
            <td>{{ degree }}</td>

        </tr>
    </table>
</body>
</html>

